@import url("components/container.css");
@import url("components/button.css");
@import url("components/images.css");

body{
	background-color: #F0EFF4;
	color:#30323D;
	font-family: 'Playfair Display', serif;
}
		
h1	{
	color:#30323D;	
}

h2{
	color:#4D5061;
	font-weight: 700;
}

h3{
	font-weight: 600;
}

a{
	color: #EB5E55;
	text-decoration:none;
	font-weight: 500;
	font-size: 60px;
}

.card-white {
	background-color:white;
	border-radius: 3px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	padding: 40px;
	margin: 20px 0px;
	text-align: center;
}

.card-white-hobbies{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color:white;
	border-radius: 3px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	padding: 40px;
	margin: 20px 0px;
	text-align: center;
}

.card-img{
	width: 80px;
}

.text-hobbies{
	display: flex;
	flex-direction: column;
	width: 200px;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 20px;
}

